*.log
.DS_Store
frontend-laravel/.env
frontend-laravel/.env.backup
frontend-laravel/.env.production
frontend-laravel/.phpactor.json
frontend-laravel/.phpunit.result.cache
/frontend-laravel/.fleet
/frontend-laravel/.idea
/frontend-laravel/.nova
/frontend-laravel/.phpunit.cache
/frontend-laravel/.vscode
/frontend-laravel/.zed
/frontend-laravel/auth.json
/frontend-laravel/node_modules
/frontend-laravel/public/build
/frontend-laravel/public/hot
/frontend-laravel/public/storage
/frontend-laravel/storage/*.key
/frontend-laravel/storage/pail
/frontend-laravel/vendor
frontend-laravel/Homestead.json
frontend-laravel/Homestead.yaml
/frontend-laravel/Thumbs.db
/frontend-laravel/resources/js/routes/

# Default ignored files
/server/shelf/
/server/workspace.xml
# Editor-based HTTP Client requests
/server/httpRequests/
/frontend-laravel/resources/js/actions/
