# Logs and system files
*.log
.DS_Store
Thumbs.db

# Environment files
.env
.env.backup
.env.production
/auth.json

# IDE / Editor files
.idea/
.phpactor.json
.phpunit.result.cache
/.fleet
/.nova
/.phpunit.cache
/.vscode
/.zed

# Node / build files
node_modules/
dist/
build/
/public/build
/public/hot
/public/storage
/resources/js/routes/

# Python virtual environments
.venv/
server/.venv/

# Laravel / server storage
/storage/*.key
/storage/pail
/vendor

# Homestead
Homestead.json
Homestead.yaml
